body {
  background-color: lightslategrey;
  font-family: Oswald;
}

div {
  text-align: center;
  
  form {
    background-color: #FEFEFE;
    boarder: 1px solid white;
    width: 200px;
  }
}

input [type="submit"] {
  color: white;
  background-color: green;
}

input [type="reset"] {
  color: white;
  background-color: red;
}
