body {
  background-color: lightslategrey;
  font-family: Oswald;
}

div {
  margin-left: auto;
  margin-right: auto;

  margin-left: 200px;
  
  form {
    background-color: #FEFEFE;
    text-align: left;
  }
}

input [type="submit"] {
  color: white;
  background-color: green;
}

input [type="reset"] {
  color: white;
  background-color: red;
}
